/* Sprinkle Animation */
@keyframes animateTasks {
    0% {
      transform:  translateX(-200px);
      
    }
    50% {
      transform:  translateX(30px);
      
    }
    /* 100% {
      transform: translateX(70px);
      
    } */
  }
  .tasklist{
    position:relative;
    animation: animateTasks 2s infinite;
    animation-iteration-count: 1;
  }
  .container{
    height:100vh;
    width:100%;
    background-color: black;
  }
  
  
  